
.navbar{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2% 8%;
    line-height: 2em;
    /* background-color: rgba(255,255,255,0.2); */
    background-color: rgba(0, 0, 0, 0.4);;
}

.navbar__leftIcon{
    margin-right: auto;
    font-family: 'Josefin Sans';
}

a{
    width: 7rem;
    text-decoration: none;
    border: 3px solid;
    padding: 5px 20px;
    margin-left: 2em;
    font-size: 16pt;
    font-weight: bold;
    color: wheat;
    text-align: center;
    line-height: 2.5rem;
    border-radius: 10px;
}

a:visited {color:rgba(255,255,255,0.1);} 
a:hover {
    color:rgb(0, 228, 228);
    text-decoration: underline;
}


@media only screen and (max-width: 700px) {
    .navbar{
        justify-items: stretch;
    }
    .navbar__leftIcon{
        width: 10%;
        margin: auto;
        font-size: 1em;
    }
    .navbar__links{
        display: flex;
        /* flex-direction: column; */
        width: 70%;
        margin: 0 auto;
        margin-right: 0;
        justify-content: space-around;
        align-items: center;
    }
    a{
        border: none;
        width: 30%;
        font-size: 0.5em;
        margin: auto;
    }
  }